<!DOCTYPE html>
<html>
<head>
  <title><%= headerText %></title> <!-- Dynamic header text -->
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1><%= headerText %></h1> <!-- Dynamic header text -->
    <nav>
      <ul>
        <li><a href="/"><%= homeText %></a></li> <!-- Dynamic Home button text -->
        <li><a href="/order"><%= initiateOrderText %></a></li>
        <li><a href="/verify"><%= verifyText %></a></li>
        <li><a href="/verify-payment"><%= verifyPaymentText %></a></li>
      </ul>
    </nav>
  </header>
  <main>
    <p><%= confirmThankYouText %> <%= firstName %> <%= lastName %>.</p> <!-- Dynamic thank you text -->
    <p><%= confirmOrderProcessedText %> <%= orderDetails.productName %>.</p> <!-- Dynamic order processed text -->
    <p><%= confirmOrderIDText %> <%= orderDetails.orderId %></p> <!-- Dynamic order ID label -->
    <p><%= confirmTotalPriceText %> <%= orderDetails.totalPrice %></p> <!-- Dynamic total price label -->
    <a href="<%= paymentLink %>"><%= confirmCompletePaymentText %></a> <!-- Dynamic complete payment text -->
  </main>
  <footer>
    <p><%- footerText %></p> <!-- Dynamic footer text -->
  </footer>
</body>
</html>